.infor_container {
    background-color: #011932;

    .infor_intro {
        position: relative;

        .infor_intro_background {
            .background2 {
                width: 100%;
                height: 1100px;
                opacity: 0.05;
            }
        }

        .infor_intro_wraper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            width: 100%;
            position: absolute;
            top: 0;

            .infor_intro_left {
                padding-right: 50px;


                .master {
                    width: 571px;
                    height: 616px;
                }
            }

            .infor_intro_right {
                width: 588px;

                h2 {
                    span {
                        color: #fff;
                        font-size: 50px;
                        margin-bottom: 25px;
                        line-height: 70px;
                    }

                    span:nth-child(3) {
                        color: #008cfc;
                    }

                    span:nth-child(7) {
                        color: #008cfc;
                    }
                }

                p {
                    color: #fff;
                    line-height: 25px;
                }
            }
        }
    }

    .infor_partner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .infor_partner_header {
            color: #008cfc;
            font-size: 56px;
            margin-bottom: 20px;

        }

        .infor_partner_des {
            color: #fff;
            font-size: 17px;
            width: 700px;
            line-height: 25px;
            margin-bottom: 50px;

        }

        .infor_partner_logo {
            padding-bottom: 50px;

            ul {
                display: flex;
                flex-wrap: wrap;
                // justify-content: center;
                align-items: center;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding:0;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 180px;
                    width: 25%;

                    .fpt {
                        width: 245px;

                    }

                    .vnpt {
                        width: 245px;
                    }

                    .viettel {
                        width: 245px;

                    }

                    .vtc {
                        width: 245px;

                    }

                    .gtv {
                        width: 245px;

                    }

                    .oeg {
                        width: 245px;
                        height: 140px;
                    }

                    .baokim {
                        width: 245px;

                    }

                    .viresa {
                        width: 245px;
                        height: 140px;
                    }
                }
            }

        }
    }

    .infor_footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 151px;
        background-color: #01152b;
        .infor_footer_header{
            font-size: 33px;
            color: #008cfc;
        }
        .infor_footer_button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 214px;
            height: 49px;
            background-color: #008cfc;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                background-color: #fff;
                color: #008cfc;
            }
        }
    }
}