.app_container {
  position: relative;
}

.call_contact {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  background-color: #c7eef5;
  cursor: pointer;
  padding: 0 22px 0 18px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.contact_icon {
  padding-right: 10px;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 1000ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1000ms, transform 1000ms;
}

.fade {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}